<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beeshop.beeshop">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:name=".application.BeeShopApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".permission.PermissionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"/>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShopDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ProductDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MineSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyVipActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyToolsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SearchShopActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SearchResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShopInfoEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ProductManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyBroadcastActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.NearbyBroadcastActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShopSortActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VipTypeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VipTypeUpdateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VipMyMemberActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VipAddActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VipDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyVipDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShopManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BroadcastDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BroadcastSendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ProductEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShopPictureUploadActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ProductPictureUploadActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyOrderListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShopOrderListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyAddressManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AddressEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OrderConfirmBuyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OrderPaySuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait"/>

        <!-- 支付宝 支付SDK -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- 支付宝 支付SDK -->


        <!-- 微信 支付SDK -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx234f5277333171ba"/>
            </intent-filter>
        </activity>
        <!-- 微信 支付SDK -->

    </application>

</manifest>