<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beeshop.beeshop">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:name=".application.BeeShopApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShopDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ProductDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MineSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyVipActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyToolsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SearchShopActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SearchResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShopInfoEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ProductManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyBroadcastActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.NearbyBroadcastActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShopSortActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VipTypeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VipTypeUpdateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VipMyMemberActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VipAddActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VipDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyVipDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShopManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BroadcastDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BroadcastSendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ProductEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShopPictureUploadActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ProductPictureUploadActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyOrderListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ShopOrderListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyAddressManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AddressEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OrderConfirmBuyActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>